body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Img/Background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    gap: 30px;
}

.container-form {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    padding: 20px;
    gap: 10px;
}

.container-button-verfi {
    grid-row: span 2;
    grid-column: 1 / span 2;
}

label {
    display: block;
    margin-bottom: 12px;
    color: #525558;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

select:focus {
    outline: none;
    border: 2px solid #007bff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.375);
}

input {
    width: 300px;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border: 2px solid #007bff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.375);
}

.button {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #007bff;
    color: black;
}

.captcha {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #374151;
    font-size: 1.9rem;
}

.title-form {
    grid-column: span 2;
}

.resultado {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #166534;
    font-weight: 600;
    height: 520px;
    width: 420px;
    background-color: #ffffff;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

.title-resultado {
    color: #374151;
}