body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../Img/Background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
    padding: 20px;
    gap: 10px;
    border-radius: 12px;
}

.container-button-verfi {
    grid-column: span 2;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #525558;
    font-size: 16px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

input {
    width: 300px;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-transform: capitalize;
}

input:focus,
select:focus {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.375);
}

input::placeholder {
    text-transform: none;
}

/*hacemos esto para indicar que el input tiene tipo date seleccionamos su tipo y pasamos a que normal el texto*/
input[type="date"] {
    text-transform: none;
}

.button {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

.button:hover {
    background: none;
    border: 1px solid #007bff;
    color: black;
    cursor: pointer;
}

.captcha {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title,
.title-resultado {
    text-align: center;
    color: #374151;
    font-size: 28px;
}

.title-form {
    grid-column: span 2;
}

.resultado {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #166534;
    font-weight: 600;
    height: 530px;
    width: 400px;
    background-color: #ffffff;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
    border-radius: 12px;
}



@media screen and (max-width: 480px) and (min-width: 320px) {
    .container {
        grid-template-columns: auto;
        gap: 20px;
        background-image: none;
        height: 100%;
        padding: 10px;
    }

    .container-form {
        grid-template-columns: auto;
    }

    .title-form {
        grid-column: span 1;
    }

    .title,
    .title-resultado {
        font-size: 24px;
    }

    .resultado {
        width: 350px;
        height: 400px;
        gap: 10px;
    }

    .container-button-verfi {
        grid-column: span 1;
    }

    label {
        font-size: large;
    }
}